* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif serif;
  font-size: 16px;
}

.wrapper {
  text-align: center;
}

.input-text {
  text-align: center;
}

.default-theme {
  margin-top: 20px;
  color:#8a97a0;
  background-color: #fff;
  border: 2px solid #e8eeef;
  padding: 15px;
  font-size: 16px;
  width: 50%;
  border-radius: 5px;
  outline: 0;
  margin-bottom: 25px;
}

.inner-wrapper {
  margin: 0 auto;
  width: 70%;
 }

.lb-data .lb-close 
